@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px|Satisfy');

@font-face {
  font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: 'Slabo 27px', serif;
}

* {
  font-family: "Raleway", serif;
  text-align: center;
}

h1 {
  font-family: "Satisfy", sans-serif;
  color: #5C4EFF;
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

hr {
  border-color: #5C4EFF;
  width: 100%;
}

a {
  color: #FFFFFF;
  font-size: 125%;
  text-decoration: none;
}

p {
  font-size: 160%;
}


.link_box {
  background-color: #5C4EFA;
  border: 12px solid #5C4EFF;
  border-radius: 1000px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
}

.link_box:hover {
  background-color: #8A80FF;
  border: 10px solid #8A80FF;
}

.link_box:active {
  background-color: #2D1AFF;
  border: 10px solid #2D1AFF;
}

header {
  height: 20%;
}

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 20%;
  width: 100%;
  background: #5C4EFF;
}

#full_page {
  height: 100%;
}

#slogan {
  margin: 4%;
}

#external_links {
  margin: 6%;
}

#button_space {
  margin: 6%;
}
