@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px|Satisfy');


@font-face {
  font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: 'Slabo 27px', serif;
}

* {
  font-family: "Raleway", serif;
  text-align: center;
}

h1 {
  font-family: "Satisfy", sans-serif;
  color: #5C4EFF;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

hr {
  border-color: #5C4EFF;
  left: 0px;
  width: 100%;
}

a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

p {
  font-size: 25px;
}

.link_box {
  background-color: #5C4EFA;
  border: 5px solid #5C4EFF;
  padding: 10px;
  border-radius: 1000px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.link_box:hover {
  background-color: #8A80FF;
  border: 5px solid #8A80FF;
  padding: 10px;
  border-radius: 1000px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.link_box:active {
  background-color: #2D1AFF;
  border: 5px solid #2D1AFF;
  padding: 10px;
  border-radius: 1000px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#bu_link {
  width: 180px;
}

#umd_link {
  width : 220px;
}


footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 120px;
  width: 100%;
  background: #5C4EFF;
}
