/*All style tried to come from http://bootstrapdesigntools.com/tools/bootstrap-menu-builder/##*/

/*All style initially came from https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/

.navbar {
  background: #5C4EFA;
}
.navbar .navbar-brand {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 200%;
}

.my-nav-links {
  color: #FFFFFF !important;
  font-size: 150%;
  font-family: "Josefin Sans", sans-serif;
}


.icon-bar {
  background: #FFFFFF !important;
}

.navbar-toggle {
  background: #5C4EFA !important; /*Whatever colour you want for background */
}

.navbar-toggle:hover {
  background: #8A80FF !important; /*Whatever colour you want for background */
}

.navbar-toggle:active {
  background: #2D1AFF !important; /*Whatever colour you want for background */
}

.line-right {
  border-right: 1px solid #FFFFFF !important;
}
