@import url('https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px|Satisfy');


@font-face {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Slabo 27px', serif;
}

* {
  font-family: "Open Sans", serif;
  text-align: center;
}

h1 {
  font-family: "Satisfy", sans-serif;
  color: #5C4EFF;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

hr {
  border-color: #5C4EFF;
}

a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

p {
  font-size: 25px;
}

.link_box {
  background-color: #5C4EFF;
  border: 5px solid #5C4EFF;
  padding: 5px;
  border-radius: 1000px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.link_box:hover {
  background-color: #E41937;
  border: 5px solid #E41937;
  padding: 5px;
  border-radius: 1000px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#bu_box {
  width: 180px;
}

#umd_box {
  width : 220px;
}

footer {
  height: auto;
  width: auto;
  background-color: #5C4EFF;
}
