@import url('https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px|Satisfy');


@font-face {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Slabo 27px', serif;
}

* {
  font-family: "Open Sans", serif;
  text-align: center;
}

h1 {
  font-family: "Satisfy", sans-serif;
  color: #5C4EFF;
}

hr {
  border-color: #5C4EFF;
}
