@import url('https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px|Satisfy');


@font-face {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Slabo 27px', serif;
}

* {
  font-family: "Open Sans", serif;
  text-align: center;
}

h1 {
  font-family: "Satisfy", sans-serif;
  color: #5C4EFF;
  font-size: 40px;
}

hr {
  border-color: #5C4EFF;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.link_box {
  background-color: #5C4EFF;
  border: 5px solid #5C4EFF;
  padding: 20 px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.link_box:hover {
  background-color: #8C72FF;
  border: 5px solid #8C72FF;
  padding: 20 px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

#bu_box {
  width: 150px;
}

#umd_box {
  width : 190px;
}


/*#footer {
  height: 60px;
  width: 100px;
  background-color: #5C4EFF;
}*/
